* {
    border: 0px solid black;
}

body {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: auto;
    font-family: Roboto, sans-serif;
    background-image: url(./images/Isekai-Quartet.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.header-top,.header-bottom,.footer {
    background-color:#1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px;
    border-bottom: 1px solid white;
}

.header-top-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top-right {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
}

.hero-header {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0px;
    flex-direction: column;
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-header .hero-text {
    font-size: 24px;
    font-weight: normal;
    color: #E5E7EB;
}

.hero-image {
    width: 480px;
    border: 1px solid black;
}

.featured-label {
    text-align: center;
    padding-top: 64px;
    color:#1F2937;
    font-size: 36px;
    font-weight: bold;
    background-color: white;
}

.featured {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.featured-container {
    width: 200px;
    font-size: 18px;
}

.featured-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 1px solid black;
}

.summary {
    padding: 64px;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 24px;
    text-align: left;
    color: #1F2937;
}

.quoted {
    font-size: 24px;
    text-align: right;
    color: #1F2937;
}

.call {
    display: flex;
    padding: 64px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.call-box {
    display: flex;
    width: 480px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 16px;
}

.call-dialog {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}

.call-header {
    font-size: 16px;
    font-weight: bold;
    color:white;
}

.call-text {
    font-size: 16px;
    color:white;
}

.call-apply {
    padding-right: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 32px;
}

button {
    outline-style: none;
    color: white;
    background-color: #3882F6;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid white;
}